apiVersion: v1
kind: Service
metadata:
  name: danify-api
  labels:
    app.kubernetes.io/name: danify-api
    app.kubernetes.io/component: api
spec:
  ports:
    - port: 3000
      targetPort: 3000
      name: http
  selector:
    app: danify-api
